html,body { margin:0; height:100%;}
.parallax {
    /* L’image du Parallax */
    background-image: url("../img/outlander3.jpg");
    /* L’hauteur du Parallax */
    height: 100%;
    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2{
    /* L’image du Parallax */
    background-image: url("../img/outlander-black-left.webp");
    /* L’hauteur du Parallax */
    height: 100%;
    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3{
    /* L’image du Parallax */
    background-image: url("../img/outlander-kitchen.png");
    /* L’hauteur du Parallax */
    height: 100%;
    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Zone 1 */
.row1{
    height: 50%;
}
.row2{
    height: 25%;
}
.row3{
    height: 10%;
}
.row4{
    height: 15%;
    background-color: white;
    opacity: .6;
}
.saison5{
    font-family: 'Khand', sans-serif;
}
.orange{
    font-family: 'Khand', sans-serif;
    background-color: rgba(201, 188, 133,.8);
}
.recettes{
    font-family: 'Khand', sans-serif;
    background-color: rgba(128,128,128,.7);
}
.recettes p{
    font-size: 1.5em;
}

.saison5 p{
    font-size: 1.6em;
}
.recettes p{
    font-size: 1.6em;
}
.button{
    background-color: white;
}

ul li{

    list-style-type: none;
}
.fondVert{
    background-color: rgb(51, 181, 115);
}
.fondBrun{
    background-color: rgb(201, 188, 133);
}
.fondBleue{
    background-color: rgb(30, 161, 189);
}
